// ----------------------------------------
// Buttons
//

.btn{
	display: inline-block;
	padding: 0;
	outline: none;
	background-color: $color--white;
	font-family: $font--primary;
	cursor: pointer;
	&--text{
		padding: 10px 62px 5px;
		border: 1px solid $color--gray;
		color: $color--gray;
		text-transform: uppercase;
		transition: background-color 0.2s ease;


		@include media('<xs') {
			padding: 7px 30px 3px;
		}
		&:hover{
			background-color: darken($color--white, 5)
		}

	}
	&--add{
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: $color--blue;
		color: $color--white;
		vertical-align: top;
		font-weight: 100;
		font-size: 30px;
		line-height: 28px;
		transition: background-color 0.3s ease;
		position: relative;
		&:before, &:after{
			position: absolute;
			display: block;
			background-color: $color--white;
			content: '';
			left: 7px;
			width: 12px;
			height: 2px;
			border-radius: 1px;
			top: 12px;
		}
		&:before{
			transform: rotate(90deg);
		}
		&:hover{
			background-color: lighten($color--blue, 10)
		}
	}
	&--return{
		width: 40px;
		height: 40px;
		border: 1px solid #a4a7aa;
		border-radius: 50%;
		transition: transform 0.3s ease;
		@include media ('<xs') {
			width: 25px;
			height: 25px;
		}
		&:hover{
			transform: scale(1.2);
		}
		&:before, &:after{
			position: absolute;
			display: block;
			background-color: #a4a7aa;
			content: '';
			left: 8px;
			width: 19px;
			height: 1px;
			@include media('<xs') {
				left: 5px;
				width: 11px;
			}
		}
		&:before{
			top: 13px;
			transform: rotate(-36deg);
			@include media('<xs') {
				top: 8px;
			}
		}
		&:after{
			top: 24px;
			transform: rotate(36deg);
			@include media('<xs') {
				top: 14px;
			}
		}
	}
	&--reply{
		z-index: 1;
		position: absolute;
		right: 0;
		bottom: -17px;
		left: 0;
		margin: 0 auto;
		padding: 7px 0 5px;
		width: 180px;
		border: 1px solid #e3e3e3;
		letter-spacing: 0.3px;
		transition: background-color 0.3s ease;
		&:hover{
			background-color: #e3e3e3;
		}
	}
	&--close{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include media('<xs') {
			top: 0px;
			right: 0px;
		}
		&:before, &:after{
			content: '';
			width: 12px;
			border-radius: 1px;
			height: 2px;
			display: block;
			position: absolute;
			background-color: $color--gray;
		}
		&:before{
			transform: rotate(45deg);

		}
		&:after{
			transform: rotate(-45deg);
		}
	}
	&--nav{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $color--gray;
		text-indent: -999999px;
		transition: background-color 0.3s ease;
		@include media('<xs') {
			width: 20px;
			height: 20px;
		}
		&:hover{
			background-color: $color--blue;
		}
		&:before, &:after{
			position: absolute;
			display: block;
			background-color: $color--white;
			content: '';
			width: 11px;
			height: 2px;
			border-radius: 1px;
			left: 9px;
			@include media('<xs') {
				width: 8px;
				left: 5px;
			}
		}
		&:before{
			top: 11px;
			transform: rotate(-36deg);
			@include media('<xs') {
				top: 7px;
			}
		}
		&:after{
			top: 17px;
			transform: rotate(36deg);
			@include media('<xs') {
				top: 11px;
			}
		}
		&--next{
			transform: rotate(180deg);
		}
	}
}
