// ----------------------------------------
// Modal - platform components
.platform{
	// ---------------
	// Platform stats
	&-stats{
		display: flex;
		justify-content: center;
		margin: 42px 0 65px;
		@include media('<xs') {
			flex-wrap: wrap;
			width: 250px;
			margin: 35px auto 45px;
		}
		&__content{
			width: 100%;
		}
		&__box{
			background-color: #e3f4fd;
			width: 93px;
			height: 93px;
			margin: 0 10px;
			display: flex;
			align-items: center;
			&:nth-of-type(1){
				transform: rotate(-36deg);
				.platform-stats__content{
					transform: rotate(36deg);
				}
			}
			&:nth-of-type(2){
				transform: rotate(-11deg);
				.platform-stats__content{
					transform: rotate(11deg);
				}
			}
			&:nth-of-type(3){
				transform: rotate(-33deg);
				.platform-stats__content{
					transform: rotate(33deg);
				}
			}
			&:nth-of-type(4){
				transform: rotate(11deg);
				.platform-stats__content{
					transform: rotate(-11deg);
				}
			}
		}
		&__value{
			font-size: 25px;
			margin-bottom: 8px;
			font-weight: bold;
			letter-spacing: 1px;
		}
		&__info{
			font-style: italic;
		}
	}
	// ---------------
	// Platform - joined
	&-joined{
		margin: 15px 0 32px;
		display: flex;
		justify-content: center;
		@include media('<xs') {
			margin: 15px 0 25px;
		}
		&__user{
			margin: 0 6px;
			width: 90px;
			&__avatar{
				height: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: repeating-linear-gradient(45deg, #e1e1e1, #e1e1e1 1px, white 1px, white 4px);
				img{
					border-radius: 50%;
				}
			}
			&__name{
				padding: 10px;
				color: $color--blue;
			}
		}
	}
	// ---------------
	// Platform - hottest discussion
	&-discussion{
		margin-top: 50px;
		padding-bottom: 10px;
		background: repeating-linear-gradient(45deg, #e1e1e1, #e1e1e1 1px, white 1px, white 4px);
		background-size: 17px 17px; 
		@include media('<xs') {
			margin-top: 25px;
			padding-bottom: 45px;
		}
		&__author{
			&__avatar{
				position: relative;
				top: -25px;
				margin-bottom: -14px;
				img{
					border-radius: 50%;
				}
			}
			&__name{
				color: $color--blue;
				margin-right: 6px;
			}
		}
		&__info{
			color: #7e8093;
			text-transform: uppercase;
			font-weight: 100;
			font-size: 13px;
			letter-spacing: 0.3px;
		}
		&__title{
			color: $color--blue;
			font-size: 20px;
			font-style: italic;
			margin: 4px 0 10px;
			letter-spacing: 0.6px;
			@include media('<xs') {
				letter-spacing: 0px;
			}
		}
		&__stats{
			padding: 18px 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			@include media('<xs') {
				max-width: 320px;
				margin: 0 auto;
			}

			&__item{
				font-style: italic;
				font-size: 14px;
				margin: 0 15px;
				letter-spacing: 0.7px;
				@include media('<xs') {
					margin: 0;
					margin-bottom: 10px;
					min-width: 135px;
					text-align: left;
				}
			}
			&__value{
				font-style: normal;
				font-size: 18px;
				font-weight: bold;
				margin-right: 5px;
				@include media('<xs') {
					min-width: 18px;
				}
			}
		}
	}
}
