// ----------------------------------------
// Single question
.questions{
	&__wrapper{
	}
	&__list{
		box-shadow: 2px 0px 4px 0px #ccc;
	}
	&__load-more{
		padding: 35px 21px;
		a{
			color: $color--red;
			text-decoration: none;
			letter-spacing: 0.4px;
		}
	}
}

.question{
	position: relative;
	border-top: 1px solid #ccc;
	border-bottom: 38px solid $color--white;
	background-color: $color--blue-light;
	box-shadow: 0 1px 0 #ccc;

	justify-content: space-between;
	@include media('<xs') {
		border-bottom: 30px solid #ff
	}
	&--simple{
		display: block;
		border-bottom: none;
		margin-bottom: 62px;
		box-shadow: 2px -2px 4px 0px #ccc;
		@include media('<xs') {
			margin-bottom: 66px;
		}
	}
	&__header{
		display: flex;
		padding: 25px 22px 16px;
		@include media('<xs') {
			flex-direction: column;
			padding: 19px 10px 10px;
		}
	}
	&__wrapper{
		display: flex;
	}
	&__author{
		&__avatar{
			width: 50px;
			@include media('<xs') {
				width: 35px;
				position: absolute;
			}
			img{
				border-radius: 50%;
			}
		}
		&__name{
			margin-right: 6px;
			color: $color--blue;
			text-transform: none;
			font-size: 16px;
		}
	}
	&__heading{
		margin-left: 20px;
		margin-left: 38px;
		@include media('<xs') {
			margin-left: 0;
		}
	}
	&__follow{
		position: absolute;
		top: 40px;
		right: 68px;
		color: $color--blue;
		letter-spacing: 0.5px;
		cursor: pointer;
		@include media('<xs') {
			top: inherit;
			right: inherit;
			bottom: 38px;
			left: 10px;
		}
	}
	&__info{
		margin-top: 0;
		margin-bottom: 3px;
		color: #758089;
		text-transform: uppercase;
		font-size: 12px;
		@include media('<xs') {
			margin: 9px 0 9px 48px;
		}
	}
	&__title{
		color: $color--blue;
		letter-spacing: 1.2px;
		font-style: italic;
		font-size: 18px;
		@include media('<xs') {
			font-size: 15px;
			margin: 0 -10px 0;
			padding: 16px 9px 0 18px;
			letter-spacing: 1px;
			border-top: 1px solid $color--white;
		}
	}
	&__stats{
		padding: 40px 0 0 45px;
		width: 203px;
		background-color: $color--white;
		@include media('<xs') {
			padding: 40px 4px 0;
			width: 230px;
		}
		&__item{
			margin-bottom: 45px;
			font-style: italic;
			@include media('<xs') {
				margin-bottom: 20px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		&__value{
			margin-right: 3px;
			font-style: normal;
		}
	}
	&__full{
		display: flex;
		margin-left: 92px;
		padding: 10px 10px 22px;
		background-color: $color--white;
		@include media ('<xs') {
			align-items: flex-end;
			margin-left: 0;
			flex-direction: column;
			padding: 5px 10px 22px;
		}
	}
	&__content{
		padding: 12px;
		width: 496px;
		letter-spacing: .36px;
		font-size: 13px;
		line-height: 19px;
		@include media('<xs') {
			width: 100%;
			padding: 0;
		}
	}
}
